/* Ajustes generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-color {
  background-color: #131313;
}

/* HEADER & NAV*/
.encabezado {
  background: #747474;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.logo-header {
  max-width: 10%;
}

#saludo {
  font-family: "Open Sans", sans-serif;
  color: #131313;
  font-size: 22px;
  font-weight: 700;
}

nav a {
  color: #131313;
  text-decoration: none;
  margin-left: 20px;
  font-size: 20px;
}

nav i {
  padding: 10px;
}
nav i:hover {
  color: #ff9800;
}

.titulo-a {
  display: flex;
  align-items: center;
  font-family: "Bebas Neue", sans-serif;
  color: #131313;
  font-size: 35px;
  text-decoration: none;
  justify-content: start;
}

/* MODAL LOGIN */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FF4E4E;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Caja modal */
.modal-content {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

h2 {
  margin-bottom: 0.5rem;
  font-family: "Bebas Neue", sans-serif;
  color: #131313;
}

.p-login {
  font-family: "Open Sans", sans-serif;
  color: #747474;
  font-size: 12px;
}

.icon {
  font-size: 30px;
}

.modal-content input {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-content button {
  background-color: transparent;
  color: #FF4E4E;
  padding: 10px 15px;
  border: solid 1px #FF4E4E;
  font-size: 15px;
  margin: 5px;
  border-radius: 24px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.8s ease;
}
.modal-content button:hover {
  background-color: #FF4E4E;
  color: white;
}

/* HOME */
.hero-home {
  display: flex;
  background-image: url(../img/grupo-de-gente-en-el-cine.jpg);
  background-size: cover;
  background-color: black;
  height: 70vh;
  padding: 30px 80px;
  display: flex;
  align-items: center;
}

.titulo-h1 {
  font-family: "Bebas Neue", sans-serif;
  color: white;
  font-size: 55px;
  line-height: 60px;
}

/* BOTONES */
.btn-home a {
  background-color: transparent;
  color: #FF4E4E;
  padding: 10px 15px;
  border: solid 1px #FF4E4E;
  font-size: 15px;
  margin: 5px;
  border-radius: 24px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.8s ease;
}
.btn-home:hover {
  transform: scale(1.05);
}

button.btn-home {
  border: 0px;
  background: transparent;
  margin-top: 20px;
}

button#cargarMas {
  background-color: transparent;
  color: #FF4E4E;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  padding: 10px 30px;
  border: solid 1px #FF4E4E;
  border-radius: 24px;
}

/*RENDERIZADO CARDS*/
.listado-pelis {
  height: 100px;
  background-color: #FF4E4E;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tittle-listado {
  font-family: "Bebas Neue", sans-serif;
  color: white;
  font-size: 25px;
}

#peliculas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: black;
}

.pelicula {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  background-color: #fff;
  border: solid 1px #747474;
  border-radius: 12px;
}
.pelicula img {
  width: 355px;
  height: 450px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}
.pelicula .info-pelis {
  display: flex;
  flex-direction: column;
}
.pelicula h3 {
  font-family: "Open Sans", sans-serif;
  color: #131313;
  padding: 10px;
  font-size: 18px;
}
.pelicula p {
  font-family: "Open Sans", sans-serif;
  padding: 10px;
  color: #131313;
  font-size: 13px;
  padding-bottom: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.favorito-btn {
  margin-top: 8px;
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #FF4E4E;
  margin: 10px 20px;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

.favorito-btn.activo {
  background-color: #f4c66e;
  color: #131313;
}

.mas {
  height: 100px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FOOTER */
.logo-footer {
  max-width: 3%;
  justify-content: center;
}

.footer-pelis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-height: 200px;
  background: #747474;
  padding: 30px;
}

p {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 12px;
}

.contenido-mm {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: white;
  text-align: center;
  padding: 30px;
  background-color: #FF4E4E;
}

/* MEDIAS QUERYS */
@media (max-width: 768px) {
  /* HEADER & NAV*/
  .encabezado {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    gap: 10px;
  }
  #saludo {
    font-size: 18px;
  }
  .logo-header {
    max-width: 25%;
  }
  nav a {
    margin-left: 5px;
  }
  nav i {
    padding: 10px;
  }
  .titulo-a {
    font-size: 25px;
    justify-content: center;
  }
  .titulo-h1 {
    font-size: 25px;
    line-height: 30px;
  }
  .hero-home {
    padding: 30px;
  }
  .btn-home a {
    font-size: 12px;
  }
  .section-pelis h3 {
    font-size: 18px;
  }
  /* FOOTER */
  .logo-footer {
    max-width: 15%;
  }
}

/*# sourceMappingURL=estilo.css.map */
