$color-principal: #FF4E4E;
$color-txt: white;
$background-principal: #747474;
$fuente-titulos: "Bebas Neue", sans-serif;
$fuente-textos: "Open Sans", sans-serif;
$border-radius: 24px;
$padding-btn: 10px 15px;
$color-body: #131313;
$bg-btn: transparent; 
$border-btn: solid 1px #FF4E4E;