@import "variables";
@import "mixins";

/* Ajustes generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-color {
  background-color: $color-body;
}

/* HEADER & NAV*/
.encabezado {
  background: $background-principal;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.logo-header {
  max-width: 10%;
}

#saludo {
  font-family: $fuente-textos;
  color: $color-body;
  font-size: 22px;
  font-weight: 700;
}

nav {
  a {
    color: $color-body;
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
  }
}

nav {
  i {
    padding: 10px;
    &:hover {
      color: #ff9800;
    }
  }
}

.titulo-a { 
  display: flex;
  align-items: center;
  font-family: $fuente-titulos;
  color: $color-body;
  font-size: 35px;
  text-decoration: none;
  justify-content: start;
}

/* HOME */
.hero-home {
  display: flex;
  background-image: url(../img/grupo-de-gente-en-el-cine.jpg);
  background-size: cover;
  background-color: black;
  height: 70vh;
  padding: 30px 80px;
  display: flex;
  align-items: center;
}

.titulo-h1 {
  font-family: $fuente-titulos;
  color: white;
  font-size: 55px;
  line-height: 60px;
}

/* BOTONES */
.btn-home {
  a {
    @include btn-estilo;
  }
  &:hover {
    transform: scale(1.05);
  }
}

button.btn-home {
  border: 0px;
  background: transparent;
  margin-top: 20px;
}

.section-pelis {
  max-height: 80vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  padding: 50px;
}

.section-pelis h3 {
  color: white;
  font-family: $fuente-titulos;
  font-weight: 400;
  font-size: 25px;
}

.categorias {
  text-align: center;
}

/* FOOTER */
.logo-footer {
  max-width: 3%;
  justify-content: center;
}

.footer-pelis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-height: 200px;
  background: $background-principal;
  padding: 30px;
}

p {
  font-family: $fuente-textos;
  color: white;
  font-size: 12px;
}

.contenido-mm {
  font-family: $fuente-textos;
  font-size: 18px;
  font-weight: 700;
  color: white;
  text-align: center;
  padding: 30px;
  background-color: $color-principal;
}


/* MEDIAS QUERYS */
@media (max-width: 768px) {
  /* HEADER & NAV*/
  .encabezado {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    gap: 10px;
  }

  #saludo {
    font-size: 18px;
  }

  .logo-header {
    max-width: 25%;
  }

  nav {
    a {
      margin-left: 5px;
    }
  }

  nav {
    i {
      padding: 10px;
    }
  }

  .titulo-a { 
  font-size: 25px;
  justify-content: center;
}

  .titulo-h1 {
    font-size: 25px;
    line-height: 30px;
  }

  .hero-home {
    padding: 30px;
  }

  .btn-home a {
    font-size: 12px;
  }

  .section-pelis h3 {
    font-size: 18px;
  }

  /* FOOTER */
  .logo-footer {
    max-width: 15%;
  }
}
