@import "variables";
@import "mixins";

/* Ajustes generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-color {
  background-color: $color-body;
}

/* HEADER & NAV*/
.encabezado {
  background: $background-principal;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.logo-header {
  max-width: 10%;
}

#saludo {
  font-family: $fuente-textos;
  color: $color-body;
  font-size: 22px;
  font-weight: 700;
}

nav {
  a {
    color: $color-body;
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
  }
}

nav {
  i {
    padding: 10px;
    &:hover {
      color: #ff9800;
    }
  }
}

.titulo-a {
  display: flex;
  align-items: center;
  font-family: $fuente-titulos;
  color: $color-body;
  font-size: 35px;
  text-decoration: none;
  justify-content: start;
}

/* MODAL LOGIN */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $color-principal;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Caja modal */
.modal-content {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}
h2 {
  margin-bottom: 0.5rem;
  font-family: $fuente-titulos;
  color: $color-body;
}

.p-login {
  font-family: $fuente-textos;
  color: $background-principal;
  font-size: 12px;
}

.icon {
  font-size: 30px;
}

.modal-content input {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.modal-content {
  button {
    @include btn-estilo;

    &:hover {
      background-color: $color-principal;
      color: white;
    }
  }
}

/* HOME */
.hero-home {
  display: flex;
  background-image: url(../img/grupo-de-gente-en-el-cine.jpg);
  background-size: cover;
  background-color: black;
  height: 70vh;
  padding: 30px 80px;
  display: flex;
  align-items: center;
}

.titulo-h1 {
  font-family: $fuente-titulos;
  color: white;
  font-size: 55px;
  line-height: 60px;
}

/* BOTONES */
.btn-home {
  a {
    @include btn-estilo;
  }
  &:hover {
    transform: scale(1.05);
  }
}

button.btn-home {
  border: 0px;
  background: transparent;
  margin-top: 20px;
}

/* CARDS RENDERIZADAS */
#cards-container,
#cards-animacion {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;

  .card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    padding: 15px;
    text-align: center;
    transition: transform 0.2s ease;

    &:hover {
      transform: translateY(-5px);
    }

    img {
      max-width: 100%;
      border-radius: 8px;
      margin-bottom: 10px;
    }

    h3 {
      font-family: $fuente-textos;
      font-weight: 700;
      font-size: 18px;
      margin: 10px 0;
      color: $color-body;
    }

    p {
      margin: 5px 0;
      font-size: 0.95rem;
    }
  }
}

.btn-sel {
  background: $color-principal;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  font-family: $fuente-textos;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.2s ease;

  &:hover {
    background: #f4c66e;
  }
}

.btn-fav {
  background-color: #ff9800;
}

/* FILTRO DE PELICULAS BOTONES */

.botones-filtro {
  min-height: 100px;
  background-color: $color-principal;
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 10px;
  button {
    background-color: $color-body;
    border: none;
    padding: 10px 15px;
    color: white;
    font-family: $fuente-textos;
    font-size: 18px;
    font-weight: 400;
  }
  }


#listaPeliculas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: white;
}

.peliculas {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.card-filtro {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 350px;
  height: 400px;

  img {
    width: 100%;
    height: 320px;
    object-fit: cover;
  }

  h4 {
  margin: 10px 0 5px;
  font-size: 16px;
  font-family: $fuente-textos;
  color: black;
}
 p {
  margin: 0 0 10px;
  color: gray;
  font-size: 14px;
}
}

/* FOOTER */
.logo-footer {
  max-width: 3%;
  justify-content: center;
}

.footer-pelis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-height: 200px;
  background: $background-principal;
  padding: 30px;
}

p {
  font-family: $fuente-textos;
  color: white;
  font-size: 12px;
}

.contenido-mm {
  font-family: $fuente-textos;
  font-size: 18px;
  font-weight: 700;
  color: white;
  text-align: center;
  padding: 30px;
  background-color: $color-principal;
}

/* MEDIAS QUERYS */
@media (max-width: 768px) {
  /* HEADER & NAV*/
  .encabezado {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    gap: 10px;
  }

  #saludo {
    font-size: 18px;
  }

  .logo-header {
    max-width: 25%;
  }

  nav {
    a {
      margin-left: 5px;
    }
  }

  nav {
    i {
      padding: 10px;
    }
  }

  .titulo-a {
    font-size: 25px;
    justify-content: center;
  }

  .titulo-h1 {
    font-size: 25px;
    line-height: 30px;
  }

  .hero-home {
    padding: 30px;
  }

  .btn-home a {
    font-size: 12px;
  }

  .section-pelis h3 {
    font-size: 18px;
  }

  /* FOOTER */
  .logo-footer {
    max-width: 15%;
  }
}
